@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Brygada+1918:ital,wght@1,500&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
}
 body {
    background-color: #f8f7f2;
 }

.black-header {
    width: 100%;
    height: 30px;
    background-color: black;
}

nav {
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
 nav ul li {
   display: inline-block;
   margin-right: 40px;
 }

 nav ul li a {
    color: #202020 ;
    font-family: 'Inter', sans-serif;
 }

 nav ul li a:hover {
    color: #9a2210;
 }

 .logo {
    margin-left: 100px ;
    font-family: 'Lato', sans-serif;
    font-size: 25px;
    color: #202020;
    font-weight: bold;
 }

 .material-symbols-outlined {
    color: #9a2210;
    float: right;
    margin-right: 40px;
    margin-top: -20px;
}